/* Estilos generales */
* {
    font-family: "OpenSans-Regular", sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#main-content {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

/* Estilos para etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#clear-btn {
    background-color: #FF5733; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
}

